{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'creditApp/main.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% if '/' == request.path %}
    <title>Home</title>
    {% elif 'transaction' in request.path %}
    <title>Transaction</title>% static creditApp
    {% else %}
    <title>Users</title>
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'creditApp/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'creditApp/favicon-32x32.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'creditApp/favicon.ico'%}">
    <!-- <link rel="icon" type="image/png" sizes="192x192" href="{% static 'creditApp/andriod-chrome-192x192.png'%}"> -->
    <!-- <link rel="icon" type="image/png" sizes="512x512" href="{% static 'creditApp/andriod-chrome-512x512.png'%}"> -->
    <!-- <link rel="manifest" href="{%static 'creditApp/site.webmanifest'%}"> -->
    <link rel="manifest" href="{%static 'creditApp/site.webmanifest'%}">

    <!-- <script
        async
        src="https://unpkg.com/pwacompat"
        crossorigin="anonymous">
    </script> -->
  
</head>

<body>
    <!-- Header 
     <header class="custom_navbar"> -->
      <nav class="navbar  navbar-expand-lg ">
        <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 2vw;">
          Fast Credit
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li   class="nav-item mr-3 ">
              {% if '/' ==  request.path %}
              <a class="nav-link  lead custom-active" href="{% url 'Home' %}">Home <span class="sr-only">(current)</span></a>
             {%else%}
             <a class="nav-link  lead text-info" href="{% url 'Home' %}">Home <span class="sr-only">(current)</span></a>
             {%endif%}
            </li>
            <li  class="nav-item mr-3 ">
              {% if 'transaction' in  request.path %}
              <a class="nav-link lead custom-active " href="{% url 'transaction' %}">Transfer</a>
             {%else%}
             <a class="nav-link lead text-info " href="{% url 'transaction' %}">Transfer</a>
             {%endif%}
              
            </li>
            <li class="nav-item mr-3 ">
              {% if 'users' in  request.path %}
               <a class="nav-link lead custom-active " href="{% url 'creditApp:users' %}" >Users</a>
              {%else%}
              <a class="nav-link lead  text-info" href="{% url 'creditApp:users' %}" >Users</a>
              {%endif%}
            </li>
          
          </ul>
        </div>
      </div>
      </nav>
      <head>
      <div class="banner" style="margin-top: 8px;">
        <span class="lead" style="font-size:3vw;font-family: 'Dancing Script', cursive;"> Transfer Faster </span>
    </div>
  </head>  
    <!-- </header> -->

   

    <!-- Block content -->

    {% block content %}





    
    {% endblock %}

</body>
</html>