{%extends 'creditApp/base.html'%}

{% block content %}
<div class="container bg-light" style="margin-left: 2%;">
<div class="jumbotron  bg-light "  style="border-radius: 30px;padding: 0px 15px 0px 15px; margin:2% 15% 2% 1%; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);z-index: 1;">
  <div class="row">
<div class="col-md-10" style="margin: 0% 20% 0% 1%; ">
<table class="table" style="margin-top: 2%;" >
    <thead class="thead-light " style="font-size: 2vw;padding-top: 1%; border-radius: 36px;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Credit </th>
        <th scope="col"> Date </th>
      </tr>
    </thead>
    <tbody style="font-size: 2vw; font-family: 'Dancing Script', cursive;">
        {% for transact in transact_details %}
      <tr class="text-dark ">
        <th scope="row" class=" badge badge-pill badge-dark ">{{transact.id}}</th>
        <td>{{transact.Transfer_from.username}}</td>
        <td>{{transact.Transfer_to.username}}</td>
        <td>{{transact.credit}}</td>
        <td>{{ transact.date}}</td>
      </tr>
      {%endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
{% endblock %}