{% extends 'creditApp/base.html'%}
{%load static%}
<!-- block content  -->
{% block content %}

<div class="jumbotron bg-color " style="margin-top: -20px;">
    <div  class="row" style="margin-top: -3%;margin-bottom: 14%;">

        <div class="col-ms-12" >
                 <div class="card-deck">
                    <div class="card" >
                        <img style="width: 50%; align-self: center;" src="{% static 'creditApp/avatar.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title lead text-dark" style="font-size: 2vw;">Users</h5>
                            <p class="card-text">See all the <em><b>users</b></em> available<br>
                            </p>
                            <a href="{%url 'creditApp:users' %}" class="btn btn-primary btn-outline-info text-white lead">Users</a>
                         </div>
                    </div>
       
            <div class="card" >           
                        <img style="width: 50%;align-self: center;" src="{% static 'creditApp/stock3cp.png'%}" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title lead text-dark" style="font-size: 2vw;">Transfer</h5>
                            <p class="card-text">Make transfers with <em><b>love</b></em>
                            </p>
                             <a href="{% url 'transaction' %}" class="btn btn-primary btn-outline-info text-white lead">Transfer</a>
                        </div>
            </div>

            <div class="card">
                    <div style=" background-color: whitesmoke;align-items: center;">

                        <div>
                            <img style="border-radius: 50%; width: 50%;" src="{% static 'creditApp/credithistory2.png'%}" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title lead text-dark" style="font-size: 2vw;">History</h5>
                        <p class="card-text">We've got all your transactions in a safe palce for you.<br>
                            Have a look at all your credit <em><b>history!</b></em>
                        </p>
                        <a href="{% url 'history' %}" class="btn btn-primary btn-outline-info text-white lead">Credit History</a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
<!-- 
<footer class=" banner bg-dark text-light justify-content-center" style="position: fixed; height: 72px; width: 100%;margin-top: -3%;">


    
    
    </footer> 
-->

    <footer class=" container mt-4 ">
        <div class=”row”>
        <div class=”col-md”>
        <p style="text-align: center; align-self: center;" class="mx-auto" >   
             <span class="" style="text-align: center;margin-top: 10%;" >
            copyright<span>&COPY;</span>2020-2021 &nbsp; 
             </span><br>
             <span class="text-dark font-weight-bold">Design by Mark Owusu</span><br>
             <span class="font-weight-light">Web developer intern @ The Sparks Foundation.</span>
      </p>
        </div>
        </div>
       </footer>

{% endblock %}