{% extends 'creditApp/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="jumbotron bg-dark mr-4 ml-4 rounded-circle transact-bg" >
   
    <div class="row row-transact">
        <div class="col-8">
            {%  if is_error %}
            <p class="btn text-light bg-danger lead btn-outline-light " style="margin: 1% -15% 0% 50%;font-weight: 5vw;">Not allowed</p>
            {% endif %}
 <form  style="margin: 1% -15% 0% 50%;"  action=''  method="POST">
     {%csrf_token%}
      {{form|crispy}} 
      {% for error in form.error %}
      <p class="text-danger">{{error}}</p>
      {%endfor %}
      <button type="submit" class="btn btn-ms btn-primary btn-outline-light badge-pill "  >Submit</button>
    </form>
    </div>
</div>
</div>
</div>



{% endblock %}